/* @import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css"); */

.welcomescr {
  background: url('img/eva.png') top / cover fixed no-repeat;
  padding: 20px;
  height: 100vh;
}

.response {
  display: none;
  padding: 20px;
  background: #1a1a1a;
  height: 100vh;
}

html, body {
  color: #fff;
  font: 1rem 'Hohenzollern';
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover, a:active {
  color: red;
}

h1 {
  background: url('img/header.png') top / contain no-repeat;
  height: 100px;
  margin: 0 0 20px 28px;
}

.cta {
  text-align: center;
  position: relative;
  top: 73%;
}

button {
  background: #fff;
  color: #A93226;
  padding: 10px 30px;
  border-radius: 3px;
  border: 0;
  font-size: 2rem;
  outline: 0;
}

button:hover {
  background: #333;
  cursor: pointer;
}

button:active {
  color: orange;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .welcomescr {
    background-size: auto;
  };
  #guess {
    position: absolute;
    top: 70%;
  };
}

@media (min-width: 1281px) {
  h1 {
    height: 150px;
  };
}

.alignment {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: calc(100vh / 1.8);
  margin: 0 auto;
}

.alignment img {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 13px;
  border: 3px solid #1b1a1e;
  background: #1b1a1e;
  cursor: pointer;
}

.alignment img:hover {
  border-color: orange;
}

.alignment > div[data-number="1"] {
  grid-area: 2 / 1 / auto / auto;
}

.result-info {
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
  background: #1f1e1f;
  padding: 10px;
  letter-spacing: 3px;
  display: inline-block;
  min-width: 300px;
}

.result-info h4 {
  font-size: 2rem;
  margin: 0;
}

.result-info p {
  margin: 0;
}

.forecaster {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
}

@font-face {
  font-family: "Hohenzollern";
  src: url("hohenzollern.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
